$font: "Jost", sans-serif;
$text-color:#111111;
$border-color: #e0e0e0;
$sold-out-bg: rgba(0, 0, 0, 0.7);
$color-1: #272D43;
$color-2: #A93A3A;
$color-3: #E1D6C7;
$color-4: #EEEEEE;
$color-5: #D6D6D6;
$color-6: #C2CADF;
$color-7: #08382C;
$color-8: #492919;
$color-9: #DFD3C2;